header {
  background-color: yellow;
  height: 500px;
}
.start_bootstrap {
  height: 100%;
  background-color: red
}
.top_header {
  background-color: purple;
  padding: 0;
  height: 100px;
}
