body {
  font-family: 'Montserrat', sans-serif;
}
header {
  background-color: yellow;
 }
 .top_header {
   background-color: #2C3E50;
   width: 100%;
   line-height: 100px;
   font-weight:700;
   position: fixed;
   top: 0;
   left:0;
   z-index: 1000;
 }
 .start_logo {
   color: white;
   font-size: 25px;
 }
 ul {
   list-style: none;
 }
 li {
   display: inline;
 }
 a {
   color: white;
   font-size: 20px;
   padding: 10px;
 }
 p.title {
   text-transform: uppercase;
 }
 p.subtitle {
   font-size: 15px;
   padding: 40px 0;
 }

.btn {
  margin-right: 30px;
}
.btn-primary {
  background-color: #00b4ad;
  font-weight:700;
}
.divisore {
  display: flex;
  margin: 0 auto;
  width: 50%;
  padding: 10px;

}
.line {
  background-color: white;
  height: 2px;
  width: 100%;
  max-width: 200px;
  margin-right: 10px;
  margin-left: 10px;
}
.glyphicon-star {
  line-height: 5px;
}
 .bottom_header {
   margin-top: 100px;
  background-color:#00b4ad ;
  text-align: center;
 }
 .center_profile {
   width: 50%;
   margin: 0 auto;
   font-weight: 800;
   font-size: 40px;
 }
 .img_profile{
   margin-top: 60px;
   margin-bottom: 20px;
   width: 200px;
 }
 .text_color_white {
   color: white;
 }
/* FINE HEADER */

/* INIZIO MAIN */
 .portfolio {
  text-align: center;
 }
 .title_portfolio{
   color: #2C3E50;
   font-size: 40px;
   text-transform: uppercase;
   padding-top: 30px;
   font-weight: 800;
 }
 .divisore_portfolio {
   display: flex;
   margin: 0 auto;
   width: 26%;
   padding: 10px;
 }
 .size_star {
   font-size: 45px;
   color: #2C3E50;
 }
 .line_portfolio {
   background-color: #2C3E50;
   height: 2px;
   width: 100%;
   max-width: 200px;
   margin-right: 10px;
   margin-left: 10px;
 }
 .image_portfolio {
  margin: 10px;
 }
 .img_port {
   max-width: 100%;
   border-radius: 10%;
   padding:15px;
 }
 .about {
   background-color: blue;
   height:500px;
   text-align: center;
   position: relative;
 }
 .col_about {
   background-color: pink;
   height: 300px;
 }
 .button_download {
  background-color: green;
  width: 100px;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 }
 .contact_me {
   height: 500px;
   background-color: yellow;
 }
 .form {
  width: 500px;
 }
/* FINE MAIN */

/* INIZIO FOOTER */
footer {
  background-color: blue;
  height: 500px;
}
